<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="LogPath" value="C:\ItAcademyProject\ItAcademyProject\"/>
      <!--Ask me about Ip address-->
      <add key="ConnectionString" value="Data Source=192.168.0.60,1440\MySQLInstance;Initial Catalog=SUSHIBAR;User ID=sa;Password=f,kznjuhfa"/>
      <add key="MailAddress" value="itacademyprojmail@gmail.com"/>
      <add key="MailPassword" value="ghbdtnnfv144"/>
    </appSettings>
</configuration>